.ui-components__hr {
  @include mid;
  display: block;
  width: 100%;
  height: em(25);
  margin-bottom: em(12);
  /* background-color: $color0; */
  /* box-shadow: $border-color 0 1px 0; */
  border-bottom: $border-color dashed 2px;
/*   &:before {
  content: '';
  position: absolute;
  top: 0;
  right: 50%;
  right: calc(50% + 1px);
  bottom: 0;
  left: 0;
  display: block;
  box-shadow: $border-color 1px 0 0;
} */
}
