@import "scss/share";

.calendar {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-bottom: 2px;
  background-color: rgba($white, .8);
  border: rgba($white, .6) solid 3px;
  box-shadow: rgba($black, .1) 0 1px 1px;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 3%;
  background-color: $color0;
  color: $reverse_color0;
  width: 100%;
  text-shadow: rgba($black, .4) 0 1px 1px;
  .prev,
  .next {
    padding: 0 5%;
    cursor: pointer;
    transition: all $transit;
    &.disabled {
      cursor: default;
      opacity: .1;
    }
  },
  .up {
    letter-spacing: .1em;
    font-weight: bold;
    cursor: pointer;
  }
}

.weekdays,
.days {
  display: flex;
  flex-wrap: wrap;
  padding-left: 1.5%;
  width: 100%;
}

.weekdays {
  background-color: $bgc;
}

.cell {
  @include noSelect;
  display: block;
  width: 14%;
  padding: 3%;
  text-align: center;
  transition: background $transit;
  border-bottom: rgba($bgc, .6) solid 2px;
  .weekdays & {
    cursor: default;
  }
  .days & {
    cursor: pointer;
    &.day.selected {
      background-color: $color0;
      color: $reverse_color0;
    }
    &:hover {
      background-color: $bgc;
    }
  }
  &.day.blank {
    cursor: default;
    &:hover {
      background-color: transparent;
      color: transparent;
    }
  }
  &.disabled {
    opacity: .2;
    cursor: default;
  }
  &.month,
  &.year {
    width: 100%;
    cursor: pointer;
    &.selected:hover,
    &:hover {
      background-color: $bgc;
    }
    &.selected {
      color: $color0;
      font-weight: bold;
    }
    &.disabled {
      cursor: default;
    }
  }
}


.wrapper-enter-active {
  transition: all 1.5s;
}
.wrapper-enter,
.wrapper-leave-to,
.wrapper-leave-active {
  opacity: 0;
  z-index: -100;
}
